{:paths ["src" "resources"]
 :deps {com.taoensso/timbre           {:mvn/version "5.1.2"}
        edu.ucdenver.ccp/kr-jena-core {:mvn/version "1.4.19"}
        io.replikativ/datahike        {:mvn/version "0.4.1473"}
        org.clojure/clojure           {:mvn/version "1.10.3"}
        org.clojure/java.jdbc         {:mvn/version "0.7.12"}}

 :aliases  {:test {:extra-paths ["test"]
                   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.972"}}}

            :build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.4" :git/sha "ac442da"}}
                    :ns-default build}

            ;; clj -X:jar :jar owl-db-tools-1.0.21.jar :sync-pom true :version '"1.0.21"' :group-id com.github.pdenno :artifact-id owl-db-tools
            :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                  :exec-fn hf.depstar/jar
                  :exec-args {}}

            :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                      :exec-fn deps-deploy.deps-deploy/deploy
                      :exec-args {:installer :local :artifact "owl-db-tools.jar"}}

            :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :remote :artifact "owl-db-tools.jar"}}}}
