{:paths ["src" "resources"]
 :deps {cheshire/cheshire             {:mvn/version "5.10.0"}
        com.taoensso/timbre           {:mvn/version "5.1.2"}
        edu.ucdenver.ccp/kr-jena-core {:mvn/version "1.4.19"}
        io.replikativ/datahike        {:mvn/version "0.3.6"}
        org.clojure/clojure           {:mvn/version "1.10.3"}
        org.clojure/java.jdbc         {:mvn/version "0.7.12"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.972"}}}
  
  :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "owl-tools.jar" :sync-pom true}}
  
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "owl-tools.jar"}}
  
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "owl-tools.jar"}}}}
